@model IdentityServer.Protocols.WSFederation.AtozViewModel
@using ProgressIQ.IdentityServer.Web.App_LocalResources.Atoz;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Active Directory Sign In</title>
</head>
<body>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, AZ.SignInWasUnsuccessful)
        <fieldset class="editor small signin">
            <legend>@AZ.Login</legend>
            <div>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>

            <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="buttons">
                <input type="submit" value="@AZ.SignIn" />
            </div>
        </fieldset>
    }

</div>
</body>
</html>
